<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header('Centros')">
	<meta charset="utf-8" />

</head>

<body id="page-top" class="sidebar-toggled">
	<nav th:replace="fragments/nav :: nav('card-0-nav')"></nav>
	<nav th:replace="fragments/secondarynav"></nav>

	<div id="wrapper">
		<div id="content-wrapper">
			<div class="container-fluid">
				<div class="region-hero">
					<div class="contenedor-hero">
						<div class="contenido-hero">
							<h1 id="titulo" class="titulo-hero">CENTROS</h1>
							Administración de Centros
						</div>
					</div>
				</div>



				<div class="separador-1"></div>

				<a class="btn btn-primary" id="btnCrearCentro" data-toggle="modal"
					data-target="#modalAgregarEditarCentro">Agregar Centro</a> <br />
				<br />
				<div class="contenedor mb-3">
					<div class="contenedor-header">
						<i class="fas fa-table"></i> Lista de Centros
					</div>
					<div class="contenedor-body">
						<div id="">
							<table id="tabla_Centros_CRUD"
								th:class="'table-' + ${id} + ' table-striped table-bordered table-hover table-responsive-lg'"
								style="width: 100%">
								<thead>
									<tr>


										<th class="centrarItemsTabla">NOMBRE</th>
										<th class="centrarItemsTabla">INFORMACIÓN GENERAL</th>
										<th class="centrarItemsTabla">CONTACTO</th>
										<th class="centrarItemsTabla">FACULTAD</th>
										<th class="centrarItemsTabla">ACCIONES</th>


									</tr>
								</thead>
								<tbody>

									<tr th:each="centro : ${centros}" th:if="${centro.id}>0"
										th:id="'trCentro'+${centro.id}">

										<td class="centrarItemsTabla" th:text="${centro.nombre}"></td>
										<td class="centrarItemsTabla" th:text="${centro.informaciongeneral}"></td>
										<td class="centrarItemsTabla" th:text="${centro.contacto}"></td>
										<td class="centrarItemsTabla" th:text="${centro.facultad.nombre}"></td>
										<td class="d-flex flex-nowrap align-items-center justify-content-center">
											<a class="btn btn-info mr-2"
												th:onclick="editarCentro([[${centro.id}]],[[${centro.nombre}]],[[${centro.informaciongeneral}]],[[${centro.contacto}]],[[${centro.facultad.id}]]);">Editar</a>
											<a class="btn btn-danger btnEliminar"
												th:onclick="eliminarCentro([[${centro.id}]])">Eliminar</a>
										</td>

									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="fragments/footer"></div>
	<div th:include="admin/centros/save_centros.html"></div>

	<script th:inline="javascript">
		let idFacultadSeleccionado;
		$(document).ready(function () {
			estilosBotones();
			$('#selectFacultad').on('change', function () {
				idFacultadSeleccionado = this.value;
			});

			$("#tabla_Centros_CRUD").DataTable({
				"language": {
					"lengthMenu": "Mostrar _MENU_ registros por página",
					"zeroRecords": "No se encontraron coincidencias",
					"info": "Página _PAGE_ de _PAGES_",
					"infoEmpty": "No se encontraron registros",
					"infoFiltered": "(filtrado de _MAX_ registros totales)",
					"paginate": {
						"previous": "Página anterior"
					}
				}
			});

			$('#btnCrearCentro').on('click', function (e) {
				$('#campoid').val("-1");
				limpiarCamposModalAgregarEditarCentro();
			});

			$('#formAgregarEditarCentro').on('submit', function (e) {
				e.preventDefault();
				let data = $(this).serialize();
				$.ajax({
					type: "POST",
					url: "centros/save/" + idFacultadSeleccionado,
					data: data,
					beforeSend: function () {
						Swal.fire({
							title: 'Cargando...',
							allowOutsideClick: () => !Swal.isLoading(),
							onBeforeOpen: () => {
								Swal.showLoading();
							}
						});
					},
					success: function (response) {
						Swal.close();
						if (response.codigoRespuesta === 200) {

							Swal.fire({
								icon: 'success',
								title: response.mensajeRespuesta,
							}).then((value) => {
								location.reload();
							});

						} else {
							Swal.fire({
								title: '!Información¡',
								text: response.mensajeRespuesta,
								icon: 'info',
								confirmButtonText: 'Aceptar',
								allowOutsideClick: () => false
							})
						}

					}, error: function () {
						Swal.close();
						Swal.fire({
							title: '¡Error!',
							text: 'Error de conexión ',
							icon: 'error',
							confirmButtonText: 'Aceptar',
							allowOutsideClick: () => false
						})
					}
				});
			});
		});

		function limpiarCamposModalAgregarEditarCentro() {
			$("#nombreCentro").val("");
			$("#infoGeneral").val("");
			$("#contacto").val("");
			$("#selectFacultad").val("")
		}

		function setearCamposModalAgregarEditarCentro(id, nombre, infoGeneral, contacto, idFacultad) {
			$('#campoid').val(id);
			$("#nombreCentro").val(nombre);
			$("#infoGeneral").val(infoGeneral);
			$("#contacto").val(contacto);
			$("#selectFacultad").val(idFacultad);
		}

		function editarCentro(id, nombre, infoGeneral, contacto, idFacultad) {
			limpiarCamposModalAgregarEditarCentro();
			setearCamposModalAgregarEditarCentro(id, nombre, infoGeneral, contacto, idFacultad);
			$('#modalAgregarEditarCentro').modal('show');
		}

		function eliminarCentro(idCentro) {

			Swal.fire({
				title: '¿Esta seguro de eliminar este registro?',
				text: "¡No podrás revertir esto!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: '¡Si, eliminar!',
				cancelButtonText: 'Cancelar'
			}).then((result) => {
				if (result.value) {
					$.ajax(
						{
							url: "centros/delete/" + idCentro,
							type: "GET"
						})
						.done(function (data) {
							Swal.fire(
								'¡Eliminado!',
								'El Centro ha sido eliminado',
								'success'
							).then((value) => {
								location.reload();
							});

						})
						.fail(function (data) {
							Swal.fire({
								icon: 'error',
								title: 'Oops...',
								text: '¡Algo salió mal!'
							})
						})
				}
			});
		}
	</script>

</body>

</html>