<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header('Estadísticas Facultad')">
<meta charset="utf-8" />
</head>


<body id="page-top" class="sidebar-toggled">


	<nav th:replace="fragments/nav :: nav(${color}+'-nav')"></nav>
	<nav th:replace="fragments/toolReport"></nav>

	<div id="wrapper">



		<div id="content-wrapper">
			<div class="container-fluid">
				<div class="region-hero">
					<div class="contenedor-hero">
						<div class="contenido-hero">
							<h1 class="titulo-hero" th:text="${nombre}"></h1>

						</div>
					</div>
				</div>
				<div class="separador-1"></div>

				<div class="panel-info-contacto">

					<div class="left-div" th:classappend="'card-contacto-'+${color}">
						<p class="card-contacto">Misión</p>
						<div th:each="obj: ${mision}">
							<p class="text-informacion-general" th:text="${obj}"></p>
						</div>
						<br></br>
						<p class="card-contacto">Visión</p>

						<div th:each="obj: ${vision}">
							<p class="text-informacion-general" th:text="${obj}"></p>
						</div>
					</div>


					<div class=" right-div card-contacto"
						th:classappend="'card-contacto-'+${color}">
						<p>CONTACTO DE LA FACULTAD</p>
						<br></br>
						<div th:each="obj: ${contacto}">
							<p class="text-informacion-general-rigth" th:text="${obj}"></p>


						</div>
					</div>

				</div>


				<br></br> <br></br>


				<div class="resumen_general">

					<h2 class="h2-titulos-tablas">Resumen General</h2>
					<div class="separador-1"></div>
					<div class="content-grid">
						<div class="grid-container-general-facultad scrollable">
							<!--Titulos-->

							<div>
								<button th:classappend="${colorTituloBoton}">#
									Programas Académicos</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">#
									Programas de Doctorado</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">#
									Programas de Maestría</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">#
									Especializaciones</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}"># Centros
									de Investigación</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}"># Grupos
									de Investigación</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}"># Líneas
									de Investigación</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">#
									Investigadores</button>
							</div>


							<div>
								<a class="link"
									th:href="@{programas(id=${idFacultad},type=${programaAcademico})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadProgramasAcademicos}"></button>
								</a>
							</div>
							<div>
								<a class="link"
									th:href="@{programas(id=${idFacultad},type=${programaDoctorado})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadProgramasDoctorado}"></button>
								</a>
							</div>
							<div>
								<a class="link"
									th:href="@{programas(id=${idFacultad},type=${programaMagister})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadProgramasMaestria}"></button>
								</a>
							</div>
							<div>
								<a class="link"
									th:href="@{programas(id=${idFacultad},type=${programaEspecializacion})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadProgramasEspecializacion}"></button>
								</a>
							</div>
							<div>
								<a class="link" th:href="@{centros(id=${idFacultad})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadCentrosInvestigacion}"></button>
								</a>
							</div>
							<div>
								<a class="link" th:href="@{grupos(id=${idFacultad})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadGruposInvestigacion}"></button>
								</a>
							</div>
							<div>
								<a class="link" th:href="@{lineas(id=${idFacultad})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadLineasInvestigacion}"></button>
								</a>
							</div>
							<div>
								<a class="link" th:href="@{investigadores(id=${idFacultad})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadInvestigadores}"></button>
								</a>
							</div>



						</div>
					</div>
				</div>
				<hr>
				</hr>
				<div class="categoria_grupos_investigacion">
					<div class="separador-1"></div>
					<!-- tabla resumen categoria de grupos de investigacion-->
					<h2 class="h2-titulos-tablas">Categoría de grupos de
						investigación</h2>
					<div class="separador-1"></div>
					<div class="content-grid">
						<div class="grid-container-catGrup-facultad scrollable">
							<!--Titulos-->

							<div>
								<button th:classappend="${colorTituloBoton}">
									# Grupos categoría<br></br>A1
								</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">
									# Grupos categoría<br></br>A
								</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">
									# Grupos categoría<br></br>B
								</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">
									# Grupos categoría<br></br>C
								</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">
									# Grupos<br></br>Reconocidos
								</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">
									# Grupos<br></br>No Reconocidos
								</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">Total</button>
							</div>


							<div>
								<a class="link"
									th:href="@{grupos(id=${idFacultad}, type=${tipo}, subType=${categoriaA1})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadGruposInvestigacionA1}"></button>
								</a>
							</div>
							<div>
								<a class="link"
									th:href="@{grupos(id=${idFacultad}, type=${tipo}, subType=${categoriaA})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadGruposInvestigacionA}"></button>
								</a>
							</div>
							<div>
								<a class="link"
									th:href="@{grupos(id=${idFacultad}, type=${tipo}, subType=${categoriaB})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadGruposInvestigacionB}"></button>
								</a>
							</div>
							<div>
								<a class="link"
									th:href="@{grupos(id=${idFacultad}, type=${tipo}, subType=${categoriaC})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadGruposInvestigacionC}"></button>
								</a>
							</div>
							<div>
								<a class="link"
									th:href="@{grupos(id=${idFacultad}, type=${tipo}, subType=${categoriaReconocido})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadGruposInvestigacionReconocidos}"></button>
								</a>
							</div>
							<div>
								<a class="link"
									th:href="@{grupos(id=${idFacultad}, type=${tipo}, subType=${categoriaNoReconocido})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadGruposInvestigacionNoReconocido}"></button>
								</a>
							</div>
							<div>
								<a class="link"
									th:href="@{grupos(id=${idFacultad}, type=${tipo})}">
									<button th:classappend="${colorTotalBoton}"
										th:text="${cantidadGruposTotal}"></button>
								</a>
							</div>

						</div>
					</div>
				</div>

				<hr>
				</hr>
				<div class="categoria_investigadores">
					<div class="separador-1"></div>
					<!-- tabla resumen categoria investigadores-->
					<h2 class="h2-titulos-tablas">Categoría de Investigadores</h2>

					<div class="separador-1"></div>
					<div class="content-grid">
						<div class="grid-container-catInvestigador-facultad scrollable">
							<!--Titulos-->

							<div>
								<button th:classappend="${colorTituloBoton}">#
									Investigadores Eméritos</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">#
									Investigadores Sénior</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">#
									Investigadores Asociados</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">#
									Investigadores Junior</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">#
									Investigadores sin categoría</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">Total</button>
							</div>

							<div>
								<a class="link"
									th:href="@{investigadores(id=${idFacultad}, type=${tipo}, subType=${investigadorEmerito})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadInvestigadoresEmeritos}"></button>
								</a>
							</div>
							<div>
								<a class="link"
									th:href="@{investigadores(id=${idFacultad}, type=${tipo}, subType=${investigadorSenior})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadInvestigadoresSenior}"></button>
								</a>
							</div>
							<div>
								<a class="link"
									th:href="@{investigadores(id=${idFacultad}, type=${tipo}, subType=${investigadorAsociado})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadInvestigadoresAsociados}"></button>
								</a>
							</div>
							<div>
								<a class="link"
									th:href="@{investigadores(id=${idFacultad}, type=${tipo}, subType=${investigadorJunior})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadInvestigadoresJunior}"></button>
								</a>
							</div>
							<div>
								<a class="link"
									th:href="@{investigadores(id=${idFacultad}, type=${tipo}, subType=${investigadorSinCategoria})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadInvestigadoresSinCategoria}"></button>
								</a>
							</div>
							<div>
								<a class="link"
									th:href="@{investigadores(id=${idFacultad}, type=${tipo})}">
									<button th:classappend="${colorTotalBoton}"
										th:text="${cantidadInvestigadoresTotal}"></button>
								</a>
							</div>

						</div>
					</div>
				</div>
				<hr>
				</hr>

				<div class="formacion_recurso_humano">
					<div class="separador-1"></div>
					<!-- tabla Formacion de recurso Humano-->
					<h2 class="h2-titulos-tablas">Nivel de Formación de
						Investigadores Internos</h2>
					<div class="separador-1"></div>
					<div class="content-grid">
						<div class="grid-container-formaciontalentoH-facultad scrollable">
							<!--Titulos-->

							<div>
								<button th:classappend="${colorTituloBoton}"># Doctores</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">#
									Magisters</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">#
									Especialistas</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}"># Pregrado</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">Total</button>
							</div>



							<div>
								<a class="link"
									th:href="@{investigadores(id=${idFacultad}, type=${tipo}, subType=${formacionDoctor})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadDocentesDoctores}"></button>
								</a>
							</div>
							<div>
								<a class="link"
									th:href="@{investigadores(id=${idFacultad}, type=${tipo}, subType=${formacionMagister})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadDocentesMagister}"></button>
								</a>
							</div>
							<div>
								<a class="link"
									th:href="@{investigadores(id=${idFacultad}, type=${tipo}, subType=${formacionEspecialista})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadDocentesEspecialistas}"></button>
								</a>
							</div>
							<div>
								<a class="link"
									th:href="@{investigadores(id=${idFacultad}, type=${tipo}, subType=${formacionPregrado})}">
									<button th:classappend="${colorTotalBoton}"
										th:text=" ${cantidadDocentesPregrado}"></button>
								</a>
							</div>
							<div>
								<a class="link"
									th:href="@{investigadores(id=${idFacultad}, type=${tipo}, subType=${docentes})}">
									<button th:classappend="${colorTotalBoton}"
										th:text="${cantidadDocentesTotal}"></button>
								</a>
							</div>

						</div>
					</div>
				</div>

				<hr>
				</hr>
				<div class="formacion_recurso_humano">
					<div class="separador-1"></div>
					<!-- tabla Formacion de recurso Humano-->
					<h2 class="h2-titulos-tablas">Pertenencia de Investigadores</h2>
					<div class="separador-1"></div>
					<div class="content-grid">
						<div class="grid-container-pertenencia-facultad scrollable">
							<!--Titulos-->

							<div>
								<button th:classappend="${colorTituloBoton}">#
									Administrativos</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}"># Docentes
									de Planta</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}"># Docentes
									Catedráticos</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}"># Docentes
									Ocasionales</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">#
									Investigadores Externos</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">#
									Estudiante Investigador</button>
							</div>
							<div>
								<button th:classappend="${colorTituloBoton}">Total</button>
							</div>

							<div>
								<a class="link">
									<button th:classappend="${colorTotalBoton}"></button>
								</a>
							</div>
							<div>
								<a class="link">
									<button th:classappend="${colorTotalBoton}"></button>
								</a>
							</div>
							<div>
								<a class="link">
									<button th:classappend="${colorTotalBoton}"></button>
								</a>
							</div>
							<div>
								<a class="link">
									<button th:classappend="${colorTotalBoton}"></button>
								</a>
							</div>
							<div>
								<a class="link">
									<button th:classappend="${colorTotalBoton}"></button>
								</a>
							</div>
							<div>
								<a class="link">
									<button th:classappend="${colorTotalBoton}"></button>
								</a>
							</div>
							<div>
								<a class="link">
									<button th:classappend="${colorTotalBoton}"></button>
								</a>
							</div>

						</div>
					</div>
				</div>

				<hr>
				</hr>
				<div id="listageneral">
					<div class="separador-1"></div>
					<h2 class="h2-titulos-tablas">Producciones de la Facultad</h2>
					<div class="separador-1"></div>
					<ul class="cards-list">
						<li class="ci-4 cards-item">
							<div class="card">
								<a th:href="@{formacion(id=${id},type=${tipo})}"
									class="card-container" rel="keep-params">
									<div class="card-icon card-icon-2">
										<span class="icono fa fa-graduation-cap"></span>
									</div>
									<div class="card-title-container">
										<h3 class="card-title">Actividades de Formación</h3>
									</div> <span class="card-item-cantidad" th:classappend="${color}"
									th:text="${cantidadActividadesDeFormacion}"></span>
								</a>
							</div>
						</li>

						<li class="ci-4 cards-item">
							<div class="card">
								<a th:href="@{evaluador(id=${id},type=${tipo})}"
									class="card-container" rel="keep-params">
									<div class="card-icon card-icon-3">
										<span class="icono fa fa-pencil-alt"></span>
									</div>
									<div class="card-title-container">
										<h3 class="card-title">Actividades como Evaluador</h3>
									</div> <span class="card-item-cantidad" th:classappend="${color}"
									th:text="${cantidadActividadesEvaluador}"></span>
								</a>
							</div>
						</li>

						<li class="ci-4 cards-item">
							<div class="card">
								<a th:href="@{apropiacion(id=${id},type=${tipo})}"
									class="card-container" rel="keep-params">
									<div class="card-icon card-icon-4">
										<span class="icono fa fa-user-friends"></span>
									</div>
									<div class="card-title-container">
										<h3 class="card-title">Actividades de Apropiación Social</h3>
									</div> <span class="card-item-cantidad" th:classappend="${color}"
									th:text="${cantidadApropiacionSocial}"></span>
								</a>
							</div>
						</li>

						<li class="ci-4 cards-item">
							<div class="card">
								<a th:href="@{bibliografica(id=${id},type=${tipo})}"
									class="card-container" rel="keep-params">
									<div class="card-icon card-icon-5">
										<span class="icono fa fa-book-open"></span>
									</div>
									<div class="card-title-container">
										<h3 class="card-title">Producciones Bibliográficas</h3>
									</div> <span class="card-item-cantidad" th:classappend="${color}"
									th:text="${cantidadProduccionesBibliograficas}"></span>
								</a>
							</div>
						</li>
						<li class="ci-4 cards-item">
							<div class="card">
								<a th:href="@{tecnica(id=${id},type=${tipo})}"
									class="card-container" rel="keep-params">
									<div class="card-icon card-icon-6">
										<span class="icono fa fa-cogs"></span>
									</div>
									<div class="card-title-container">
										<h3 class="card-title">Producciones Técnicas y
											Tecnológicas</h3>
									</div> <span class="card-item-cantidad" th:classappend="${color}"
									th:text="${cantidadTecnicasTecnologicas}"></span>
								</a>
							</div>
						</li>
						<li class="ci-4 cards-item">
							<div class="card">
								<a th:href="@{arte(id=${id},type=${tipo})}"
									class="card-container" rel="keep-params">

									<div class="card-icon card-icon-7">
										<span class="icono fa fa-paint-brush"></span>
									</div>
									<div class="card-title-container">
										<h3 class="card-title">
											Producciones en <br />Arte
										</h3>
									</div> <span class="card-item-cantidad" th:classappend="${color}"
									th:text="${cantidadProduccionesArte}"></span>
								</a>
							</div>
						</li>
						<li class="ci-4 cards-item">
							<div class="card">
								<a th:href="@{reporte(id=${id},type=${tipo}, prod=32)}"
									class="card-container" rel="keep-params">
									<div class="card-icon card-icon-1">
										<span class="icono fab fa-firstdraft"></span>
									</div>
									<div class="card-title-container">
										<h3 class="card-title">Demás Trabajos</h3>
									</div> <span class="card-item-cantidad" th:classappend="${color}"
									th:text="${cantidadProduccionesDemasTrabajos}">0</span>
								</a>
							</div>
						</li>

						<li class="ci-4 cards-item">
							<div class="card">
								<a th:href="@{reporte(id=${id},type=${tipo}, prod=33)}"
									class="card-container" rel="keep-params">
									<div class="card-icon card-icon-2">
										<span class="icono fa fa-pencil-ruler"></span>
									</div>
									<div class="card-title-container">
										<h3 class="card-title">Proyectos</h3>
									</div> <span class="card-item-cantidad" th:classappend="${color}"
									th:text="${cantidadProduccionesProyectos}">0</span>
								</a>
							</div>
						</li>
					</ul>
				</div>


			</div>
		</div>
	</div>
	<div th:replace=" fragments/footer"></div>
</body>

</html>