<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="fragments/header :: header('Centros de Investigación')">
<meta charset="utf-8" />
</head>

<body id="page-top" class="sidebar-toggled">
	<nav th:replace="fragments/nav :: nav(${color})"></nav>

	<div id="wrapper">

		<!-- Sidebar -->
		<ul class="sidebar navbar-nav toggled" th:classappend="${color}">
			<li class="nav-item"><a class="nav-link" href="inicio"> <i
					class="fas fa-fw fa-home"></i> <span>Inicio</span>
			</a></li>
			<li class="nav-item" th:classappend="${tipo}==i ? active"><a
				class="nav-link" href="investigadores"> <i
					class="fas fa-fw fa-user"></i> <span>Investigadores</span>
			</a></li>
			<li class="nav-item" th:classappend="${tipo}!=i ? active"><a
				class="nav-link" href="general"> <i class="fas fa-fw fa-users"></i>
					<span>Grupos de Investigación</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" href="centros"> <i
					class="fas fa-fw fa-microscope"></i> <span>Centros de
						Investigación</span>
			</a></li>
		</ul>

		<div id="content-wrapper">
			<div class="container-fluid">
				<div class="region-hero">
					<div class="contenedor-hero">
						<div class="contenido-hero">
							<h1 class="titulo-hero" th:text="${nombre}"></h1>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace=" fragments/footer"></div>
</body>

</html>
