<footer class="container-fluid borderx pb-4">
	<div class="row">
		<div class="col-12 col-xl-4 d-flex justify-content-center align-items-center">
			<img class="imagen_footer" src="https://www.uniquindio.edu.co/info/uniquindio/media/bloque9.png" alt="">
		</div>
		<div class="col-12 col-xl-4 d-flex flex-column align-items-center justify-content-center pt-4">
			<h5 class="font-weight-bold">Ubicación:</h5>
			<p>
				Carrera 15 con calle 12 norte<br>
				Bloque administrativo 1, Edificio K.<br>
				Armenia, Quindío, Colombia
			</p>
			<h5 class="font-weight-bold">Contacto:</h5>
			<p>
				57 - 6 - 7359300 Ext. 305 - 810 - 1020<br>
				Bloque administrativo 1, Edificio K. <br>
				Armenia, Quindío, Colombia<br>
				<a href="mailto:viceinvestigaciones@uniquindio.edu.co">viceinvestigaciones@uniquindio.edu.co</a>
			</p>
			<h5 class="font-weight-bold">Horario de atención:</h5>
			<p>
				57 - 6 - 7359300 Ext. 305 - 810 - 1020<br>
				Bloque administrativo 1, Edificio K. <br>
				Armenia, Quindío, Colombia
			</p>
		</div>
		<div class="col-12 col-xl-4 d-flex flex-column align-items-center justify-content-center pt-5">
			<a class="d-block" href="https://www.uniquindio.edu.co/mapa-del-sitio" title="Enlace a Mapa del sitio">Mapa
				del
				sitio
			</a>
			<a class="d-block" href="https://www.uniquindio.edu.co/formularios/66/ayudanos-a-mejorar/"
				title="Enlace a Ayúdanos a mejorar">Ayúdanos a mejorar
			</a>
			<a class="d-block" href="https://www.uniquindio.edu.co/publicaciones/334/terminos-y-condiciones-de-uso/"
				title="Enlace a Políticas de privacidad y condiciones de uso">
				Políticas de privacidad y condiciones de uso
			</a>
			<a class="d-block"
				href="https://www.uniquindio.edu.co/publicaciones/335/politica-de-tratamiento-de-datos-personales/"
				title="Enlace a Política de tratamiento de datos personales">
				Política de tratamiento de datos personales
			</a>
			<a class="d-block" href="https://www.uniquindio.edu.co/publicaciones/352/notificaciones-por-aviso/"
				title="Enlace a Notificaciones por aviso"> Notificaciones
				por aviso
			</a>
		</div>
	</div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-html5-1.6.5/b-print-1.6.5/r-2.2.6/datatables.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>