<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GRI</title>
	<!-- ESTILOS -->
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-html5-1.6.5/b-print-1.6.5/r-2.2.6/datatables.min.css" />
	<script src="https://kit.fontawesome.com/0a90a35bb1.js" crossorigin="anonymous"></script>
	<!-- FUENTE -->
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
	<!-- ESTILOS PROPIOS -->
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>