
<header class="header-nav" th:fragment="nav (style)"
	th:classappend="${style}">


	<input id="btn-menu-nav" type="checkbox" class="btn-menu-nav"></input>
	<label class="header-label " for="btn-menu-nav"><i
		class=" check-nav fas fa-bars"></i></label>

	<nav class="menu-nav">
		<!-- Navbar -->
		<ul class="menu-nav-ul">


			<li class="menu-nav-li"><a class="menu-nav-li-a" href="inicio">
					<span>Inicio</span>
			</a></li>
			<li class="menu-nav-li"><a class="menu-nav-li-a"
				href="investigadores"> Investigadores</a></li>
			<li class="menu-nav-li"><a class="menu-nav-li-a" href="grupos">
					Grupos de Investigación</a></li>
			<li class="menu-nav-li"><a class="menu-nav-li-a" href="centros">
					Centros de Investigación</a></li>
			<li class="menu-nav-li" sec:authorize="hasRole('ROLE_ADMIN')"><a
				class="menu-nav-li-a" href="inventario"> Producciones en
					Custodia</a></li>

			<li>
				<form class="menu-nav-li" th:action="@{/logout}" method="post">
					<button type="submit" class="menu-nav-li-a-btn">Salir</button>
				</form>
			</li>
		</ul>





	</nav>



</header>


