<nav class="navbar navbar-expand navbar-dark static-top"
	th:fragment="nav (style)" th:classappend="${style}">

	

	<!-- Uso Futuro -->
	<div
		class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
	</div>






	<!-- Navbar -->
	<ul class="navbar-nav ml-auto ml-md-0">

		<li class=" nav-item btn-link btn-sm color iconPrintSmall"
			title="Imprimir Analiticas"><span class="fas fa-print"
			aria-hidden="true"></span> <span class="btnText">Imprimir</span></li>

		<li class="nav-item btn-link btn-sm color iconPrintSmall"
			title="Descargar Analiticas"><span class="fas fa-file-download"
			aria-hidden="true"></span> <span class="btnText">Descargar</span></li>
		
	</ul>
</nav>