html {
	position: relative;
	min-height: 100%;
	box-sizing: border-box;
}

body {
	height: 100%;
	font-family: 'Helvetica Neue','Segoe UI',Helvetica,Arial,sans-serif;
}


#wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#wrapper #content-wrapper {
	overflow-x: hidden;
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 80px;
}

body.fixed-nav #content-wrapper {
	margin-top: 56px;
	padding-left: 90px;
}

body.fixed-nav.sidebar-toggled #content-wrapper {
	padding-left: 0;
}

@media (min-width: 768px) {
	body.fixed-nav #content-wrapper {
		padding-left: 225px;
	}
	body.fixed-nav.sidebar-toggled #content-wrapper {
		padding-left: 90px;
	}
}


.smaller {
	font-size: 0.7rem;
}

.o-hidden {
	overflow: hidden !important;
}

.z-0 {
	z-index: 0;
}

.z-1 {
	z-index: 1;
}

.navbar-nav .form-inline .input-group {
	width: 100%;
}

.navbar-nav .nav-item.active .nav-link {
	color: #fff;
}

.navbar-nav .nav-item.dropdown .dropdown-toggle::after {
	width: 1rem;
	text-align: center;
	float: right;
	vertical-align: 0;
	border: 0;
	font-weight: 900;
	content: '\f105';
	font-family: 'Font Awesome 5 Free';
}

.navbar-nav .nav-item.dropdown.show .dropdown-toggle::after {
	content: '\f107';
}

.navbar-nav .nav-item.dropdown.no-arrow .dropdown-toggle::after {
	display: none;
}

.navbar-nav .nav-item .nav-link:focus {
	outline: none;
}

.navbar-nav .nav-item .nav-link .badge {
	position: absolute;
	margin-left: 0.75rem;
	top: 0.3rem;
	font-size: 0.5rem;
}

@media (min-width: 768px) {
	.navbar-nav .form-inline .input-group {
		width: auto;
	}
}

.sidebar {
	width: 90px !important;
	opacity:0.97;
	min-height: calc(100vh - 56px);
}

.sidebar .nav-item:last-child {
	margin-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
	text-align: center;
	padding: 0.75rem 1rem;
	width: 90px;
}

.sidebar .nav-item .nav-link span {
	font-size: 0.65rem;
	display: block;
}

.sidebar .nav-item .dropdown-menu {
	position: absolute !important;
	-webkit-transform: none !important;
	transform: none !important;
	left: calc(90px + 0.5rem) !important;
	margin: 0;
}

.sidebar .nav-item .dropdown-menu.dropup {
	bottom: 0;
	top: auto !important;
}

.sidebar .nav-item.dropdown .dropdown-toggle::after {
	display: none;
}

.sidebar .nav-item .nav-link {
	color: rgba(255, 255, 255, 0.80);
	text-shadow:
	-1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
    text-shadow:
	-1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.text-white {
    text-shadow:
	-1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.navbar-brand{
	text-shadow:
	-1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
	color: rgba(255, 255, 255, 0.90);
}

.sidebar.toggled {
	width: 0 !important;
	overflow: hidden;
}

@media (min-width: 768px) {
	.sidebar {
		width: 225px !important;
	}
	.sidebar .nav-item .nav-link {
		display: block;
		width: 100%;
		text-align: left;
		padding: 1rem;
		width: 225px;
	}
	.sidebar .nav-item .nav-link span {
		font-size: 1rem;
		display: inline;
	}
	.sidebar .nav-item .dropdown-menu {
		position: static !important;
		margin: 0 1rem;
		top: 0;
	}
	.sidebar .nav-item.dropdown .dropdown-toggle::after {
		display: block;
	}
	.sidebar.toggled {
		overflow: visible;
		width: 100px !important;
	}
	.sidebar.toggled .nav-item:last-child {
		margin-bottom: 1rem;
	}
	.sidebar.toggled .nav-item .nav-link {
		text-align: center;
		padding: 0.75rem 1rem;
		width: 90px;
	}
	.sidebar.toggled .nav-item .nav-link span {
		font-size: 0.65rem;
		display: block;
	}
	.sidebar.toggled .nav-item .dropdown-menu {
		position: absolute !important;
		-webkit-transform: none !important;
		transform: none !important;
		left: calc(90px + 0.5rem) !important;
		margin: 0;
	}
	.sidebar.toggled .nav-item .dropdown-menu.dropup {
		bottom: 0;
		top: auto !important;
	}
	.sidebar.toggled .nav-item.dropdown .dropdown-toggle::after {
		display: none;
	}
}

.sidebar.fixed-top {
	top: 56px;
	height: calc(100vh - 56px);
	overflow-y: auto;
}



.cont-icono{
	text-align: center;
	width: auto;
	float: none;
}


.icon {
	background: url('../img/logo-big.png');
	height: 175px;
	width: 175px;
	display: inline-block;
	vertical-align: top;
	line-height: 128px;
	text-align: center;
}

.cont-titulo{
	line-height: 1.25;
	width: auto;
	float: none;
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

.titulo{
	
	color: #393939;
	font-weight: 400;
	font-size: 2rem;
	margin: 0 0 1.6rem;
	line-height: 1.5;
	text-align: center;
}

.separador{
	height: 60px;
	width: auto;
}

.separador-1{
	height: 20px;
	width: auto;
}

.cuerpo{
	overflow: auto;
	padding: 16px;
	color: #404040;
	font-size: 1.4rem;
	line-height: 2rem;
	overflow: auto;
	position: relative;
}


.badge-list{
	display: flex;
	flex-direction: row; 
	justify-content: space-around;
	flex-wrap: wrap;
} 

.badge-list-item{
	padding-bottom: 40px;
	float: left;
	display: block;
	position: relative;
	flex-grow: 1; 
	padding-right: 1.2rem;
	padding-left: 1.2rem;
	padding-top: 1.2rem;
	font-size: 1.4rem;
}

.badge-list-wrap{
	display: block;
	text-decoration: none;
}

.badge-list-value{
	width: 128px;
	height: 128px;
	line-height: 128px;
	font-size: 40px;
	color: #303030;
	box-shadow: 0 0 0 1px rgba(48, 48, 48, 0.3) inset;
	background-color: #ffffff;
	display: block;
	text-align: center;
	border-radius: 100%;
	margin: 0 auto;
	transition: background-color .2s;
}

.badge-list-value:hover{
	background-color: rgba(64, 64, 64, 0.1);
}

.badge-list-label{
	font-size: 16px;
	padding: 9.5px 8px;
	color: #737373;
	display: block;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: .1rem;
	right: .1rem;
	line-height: 1.5;
}

.link:hover{
	text-decoration: none;
	background-color: none;
}

.region-hero{
	position: relative;
	overflow: hidden;
	color: #404040;
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

.contenedor-hero{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 3px;
	box-sizing: border-box;
}

.contenido-hero{
	flex-grow: 1;
	font-size: 1.2rem;
	line-height: 2rem;
	color: #6c6c6c;
}

.titulo-hero{
	text-align: center;
	font-size: 2rem;
	line-height: 3rem;
	margin: 0;
	color: #393939;
	font-weight: 400;
}

button.copyButton::before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f0c5\00a0";
    font-weight: 900;
}

button.excelButton::before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f1c3\00a0";
    font-weight: 900;
}

button.pdfButton::before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f1c1\00a0";
    font-weight: 900;
}

button.printButton::before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f02f\00a0";
    font-weight: 900;
}

.table{
	cursor:pointer;
}

.cards-list{
	display: flex;
	flex-direction: row; 
	justify-content: flex-start;   
	align-content: flex-start;    
	flex-wrap: wrap; 
} 

.ci-2{
	flex-basis: 50%;
}

.ci-3{
	flex-basis: 33.3%;
}
.ci-4{
	flex-basis: 25%;
}
.ci-5{
	flex-basis: 20%;
}

.cards-item{
	clear: both;	
	float: left;
	position: relative;
	display: flex; 
	vertical-align: top;
	font-size: 1.4rem;
	line-height: 2rem;
	
}



.card{
	margin: 8px;
	overflow: hidden;
	display: flex;
	transition: all .1s ease-out;
	box-shadow: 0 2px 4px -2px rgba(0,0,0,.075);
	width: calc(100% - 16px);
	border-radius: 2px;
	position: relative;
}



.card-container, .card-container:hover{
	background-color: #ffffff;
	text-decoration: none;
	outline-width: 0px;
	border-radius: 2px;
	background-clip: padding-box;
	width: 100%;
	height: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.075);
	border-image: initial;
	position: relative;
	color: rgb(43, 43, 43);
	
}

.card-container:hover{
	background-color: rgb(64,64,64,0.05);
}

.card-0{
	background-color: #007f36;
	border:none;
}

.card-1{
	background-color: #FFCC00;
	border:none;
}

.card-2{
	background-color: #DC911B;
	border:none;
}

.card-3{
	background-color: #1169B0;
	border:none;
}

.card-4{
	background-color: #009DE0;
	border:none;
}

.card-5{
	background-color: #C20B19;
	border:none;
}


.card-6{
	background-color: #8FB435;
	border:none;
}

.card-7{
	background-color: #8E1C7D;
	border:none;
}

.card-8{
	background-color: #009640;
	border:none;
}

.lista-miembros{
	border-bottom: 1px solid rgba(0,0,0,0.50);
}

.card-bar{
      display: block;
      height: 12px;
      position: relative;
 
}

.card-icon{
	width: 64px;
	height: 64px;
	line-height: 64px;
	margin-top: 36px;
	color: rgb(255, 255, 255);
	margin: 24px auto 0px;
	border-radius: 100px;
	display: block;
}

.card-icon-1{
	background-color: #ee4035 ;
}
.card-icon-2{
	background-color: #f37736;
}

.card-icon-3{
	background-color: #ffa700;
}

.card-icon-4{
	background-color: #7bc043;
}

.card-icon-5{
	background-color: #21cea2;
}

.card-icon-6{
	background-color: #0392cf;
}
.card-icon-7{
	background-color: #212cce;
}
.card-icon-8{
	background-color: #812c99;
}
.card-icon-9{
	background-color: #992c64;
}
.card-icon-10{
	background-color: #b25260;
}



.icono{
	font-size: 32px;
	width: 64px;
	height: 64px;
	line-height: 64px;
	display: inline-block;
	overflow: hidden;
	text-align: center;
	vertical-align: top;
}

.card-title-container{
	padding-top: 12px;
	padding-bottom: 36px;
	display: block;
	padding: 24px 16px;
	box-sizing: border-box;
}

.card-title-container-s{
	padding-top: 12px;
	padding-bottom: 36px;
	display: block;
	padding: 12px 4px;
	box-sizing: border-box;
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
}

.card-title{
	white-space: normal;
	font-size: 1.2rem;
	line-height: 2rem;
	margin: 0;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	color: #404040;
	font-weight: 400;
}

.card-title-s{
	white-space: normal;
	font-size: 1rem;
	line-height: 2rem;
	margin: 0;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	color: #404040;
	font-weight: 400;
}

.card-colorFill{
	background-color: #309fdb;
	color: #ffffff;
	display: block; 
}

.contenedor{
	position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.contenedor-header{
	padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.contenedor-header: first-child{
	    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.contenedor-body{
	flex: 1 1 auto;
    padding: 1.25rem;
}

label{
	font-weight: 600;
}

.sub-row{
	margin-left:0;
}

.en-inventario{
	background-color: #8CFF98 !important;
}

.btn-nav{
	color: rgba(255,255,255);
    text-shadow:
	-1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
    opacity: 0.9;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.btn-nav:hover{
	color: rgba(255,255,255);
	opacity: 1;
}

.card-ball{
	width: 40px !important;
    height: 40px !important;
}