/*VARIABLES CSS*/
:root {
  --color-uq-verde-oscuro: #08590c;
  --color-uq-verde-claro: #308113;
  --color-texto: #333333;
  --color-facultar-salud: #1169b0;
  --color-facultar-ingenieria: #009de0;
  --color-facultar-agroindustriales: #8fb435;
  --color-facultar-economicas: #8e1c7d;
  --color-facultar-humanas: #c20b19;
  --color-facultar-basicas: #ffcc00;
  --color-facultar-educacion: #dc911b;
}
/*GENERAL*/

body {
  font-family: "Open Sans", sans-serif;
  color: var(--color-texto);
}

/*COLORES*/

.gri_color_verder_uq_oscuro {
  color: var(--color-uq-verde-oscuro) !important;
}

.gri_color_verder_uq_claro {
  color: var(--color-uq-verde-claro) !important;
}

a {
  color: var(--color-uq-verde-claro) !important;
}

a:visited {
  color: var(--color-uq-verde-oscuro) !important;
}
a:hover {
  color: var(--color-uq-verde-oscuro) !important;
}

a:active {
  color: var(--color-uq-verde-claro) !important;
}

.gri_navbar {
  height: 50px;
  background-color: var(--color-uq-verde-oscuro);
}

.gradiente_header {
  height: 8px;
  background-image: linear-gradient(
    90deg,
    var(--color-facultar-humanas) 12.5%,
    var(--color-facultar-economicas) 12.5%,
    var(--color-facultar-economicas) 25%,
    var(--color-facultar-educacion) 25%,
    var(--color-facultar-educacion) 37.5%,
    var(--color-facultar-basicas) 37.5%,
    var(--color-facultar-basicas) 50%,
    var(--color-uq-verde-oscuro) 50%,
    var(--color-uq-verde-oscuro) 62.5%,
    var(--color-facultar-ingenieria) 62.5%,
    var(--color-facultar-ingenieria) 75%,
    var(--color-facultar-salud) 75%,
    var(--color-facultar-salud) 87.5%,
    var(--color-facultar-agroindustriales) 87.5%
  );
}

/*LOGIN*/
.gri_imagen_login{
	width: 200px;
}

/*FOOTER*/
.imagen_footer {
  width: 360px;
}
