<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Facultades')">
<meta charset="utf-8" />
</head>
<body id="page-top" class="sidebar-toggled">

	<nav th:replace="fragments/nav :: nav('card-0-nav')"></nav>

	<div id="wrapper">

		

		<div id="content-wrapper">
			<div class="container-fluid">
				 <div class="region-hero">
                  <div class="contenedor-hero"> 
                    <div class="contenido-hero">
                      <h1 class="titulo-hero">Facultades</h1>
                      Tabla/Reporte de las facultades activas en el sistema.
                    </div>
                  </div>
                </div>
				<div class="separador-1"></div>

				<div id="table">
					<table id="tabla_facultades"
						class="table table-striped table-bordered table-hover table-responsive-lg"
						style="width: 100%">
						<thead>
							<tr>
								<th></th>
								<th>NOMBRE</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="facultad : ${listaFacultades}">
								<td th:text="${facultad.id}"></td>
								<td th:text="${facultad.nombre}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer"></div>
</body>
</html>