<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header('GRI - Inicio')">
	<meta charset="utf-8" />
</head>

<body id="page-top" class="sidebar-toggled">

	<nav th:replace="fragments/nav :: nav('card-0-nav')"></nav>

	<div id="wrapper">

		
		
		<div id="content-wrapper">
			<div class="container-fluid">
				<div class="inicio">
					<div class="cont-icono">
						<span class="icon"> </span>
					</div>
					<div class="cont-titulo">
						<h1 class="titulo">GRI - Gestión de Resultados de
							Investigación</h1>
					</div>
				</div>

				<div class="input-group px-5 mt-3 mb-1">
					<input type="text" id="input-busqueda" class="form-control form-control-lg"
						placeholder="Ingrese su búsqueda..." aria-label="Recipient's username"
						aria-describedby="basic-addon2" />
					<div class="input-group-append">
						<button class="btn btn-outline-success" id="btn-buscar" type="button">Buscar</button>
					</div>
				</div>

				<div class="px-5">
					<label class="pl-5 pr-1">Buscar en:</label> <label class="radio-inline px-1"><input type="radio"
							id="gruplac" name="optradio" checked="checked" />GrupLAC</label> <label
						class="radio-inline px-1"><input type="radio" id="cvlac" name="optradio" />CvLAC</label>

				</div>


				<div id="badge" class="region-lista">
					<ul class="badge-list">
						<li class="badge-list-item"><a class="link" href="general">
								<span class="badge-list-label">Información general</span>
								<span id="badge-informacion" class="badge-list-value badge-list-value-color1">
									<i class="fas fa-info informacion_general"></i>
								</span>
							</a></li>
						<li class="badge-list-item"><a class="link" href="facultades"> <span id="badge-facultades"
									class="badge-list-value badge-list-value-color2" th:text="${cantFacultades}"></span>
								<span class="badge-list-label">Facultades</span>
							</a></li>
						<li class="badge-list-item"><a class="link" href="centros">
								<span id="badge-centros" class="badge-list-value badge-list-value-color3" th:text="${cantCentros}"></span> <span
									class="badge-list-label">Centros
									de Investigación</span>
							</a></li>
						<li class="badge-list-item"><a class="link" href="programas">
								<span id="badge-programas" class="badge-list-value badge-list-value-color4" th:text="${cantProgramas}"></span>
								<span class="badge-list-label">Programas</span>
							</a></li>
						<li class="badge-list-item"><a class="link" href="grupos">
								<span id="badge-grupos" class="badge-list-value badge-list-value-color5" th:text="${cantGrupos}"></span> <span
									class="badge-list-label">Grupos de Investigación</span>
							</a></li>
						<li class="badge-list-item"><a class="link" href="investigadores"> <span
									id="badge-investigadores" class="badge-list-value badge-list-value-color6" th:text="${cantInves}"></span>
								<span class="badge-list-label">Investigadores</span>
							</a></li>
						<li class="badge-list-item"><a class="link" th:href="@{estadisticas(id=${id},type=${tipo})}" >
								<span class="badge-list-label">Estadisticas</span>
								<span class="badge-list-value badge-list-value-color7">
									<i class="fas fa-chart-bar estadisticas_inicio"></i>
								</span>
							</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer"></div>
</body>

</html>