<div th:replace="fragments/header">
</div>

<body>

	<header class="w-100">
		<nav class="gri_navbar">
		</nav>
		<div class="gradiente_header"></div>
	</header>

	<div class="container mt-4">
		<div class="row">
			<div class="col">
				<section>
					<div class="card">
						<img src="https://www.uniquindio.edu.co/info/uniquindio/media/bloque2.png"
							class="gri_imagen_login">
						<div class="card-body">
							<h4 class="card-title"><span class="font-weight-bold gri_color_verder_uq_claro">GRI</span>
								(Inicio)</h4>
							<div class="alert alert-danger mt-4" role="alert" th:if="${param.error}">Datos
								Incorrectos</div>
							<form th:action="@{/login}" method="post">
								<div class="form-group my-2">
									<input type="user" id="userInput" name="username" placeholder="Ingrese su usuario"
										class="form-control" />
								</div>

								<div class="form-group my-2">
									<input type="password" id="passwordInput" name="password"
										placeholder="Ingrese su contraseña" class="form-control" />
								</div>

								<button id="login" type="submit" class="btn btn-success btn-block mt-4">Iniciar
									Sesión</button>
							</form>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>





	<div th:replace="fragments/footer"></div>
</body>

</html>